{% extends "bootstrap/base.html" %}

{# todo 定义收藏图标 #}
{% block head %}
    {{ super() }}  {# todo 使用super()保留基模板中定义的块的原始内容 #}
    <link rel="shortcut icon" href="{{ url_for('static', filename="favicon.ico") }}"
          type="image/x-icon">
    <link rel="icon" href="{{ url_for("static", filename="favicon.ico") }}"
    type="image/x-icon">
{% endblock %}

{% block title %} Flasky {% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
     <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Flask</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
     </div>
    </div>
{% endblock %}
{# block标签定义的元素可在衍生模块中修改。 #}
{% block content %}

    {# todo 基模板中使用flash消息，这样子所有的页面都可以使用这些 #}
    {#  Flash消息只显示一次，然后刷新就消失了  #}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>

        {% endfor %}

        {% block page_content %} {% endblock %}
    </div>
{% endblock %}